
@{
    Layout = null;
}

    <body>
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-sm-10"><h1>Edit Employee Type</h1></div>

            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: steelblue; color: white"><h3>Employee Type Edit Details</h3></div>
            <div class="panel-body">
                <form class="form" action="##" method="post" id="registrationForm">




                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"><h4>Employee Type Name</h4></label>
                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="last_name"><h4>Description</h4></label>
                            <br>
                            <textarea matinput="" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-floppy-disk" title="Update the New Details"></i> Update</button>
                            <button class="btn btn-lg btn-primary pull-left" type="back"><i class="	glyphicon glyphicon-remove-sign"></i> Cancel</button>
                            <button class="btn btn-lg btn-warning pull-right" type="submit"><i class="glyphicon glyphicon-trash"></i> Delete Record</button>
                            <button class="btn btn-lg pull-middle" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>





    </body>