
@{
    ViewBag.Title = "ChangePassword";
}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style type="text/css">
.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
</style>
<div class="form-style-8">
  <h2>Change Password</h2>
<form>
<label for="uname"><strong>Current Password </strong></label>
<input type="text" placeholder="Enter Current Password" name="uname" required>
<label for="uname"><strong>New Password</strong></label>
<input type="text" placeholder="Enter New Password" name="uname" required>
<label for="uname"><strong>Confirm New Password</strong></label>
<input type="text" placeholder="Confirm New Password" name="uname" required>
  </form>
</div>