@model AdoptifySystem.User_
@{
    ViewBag.Title = "ChangePassword";
}
    <div class="form-style-8">
        <h2>Change Password</h2>
        @using (Html.BeginForm())
        {
            <input type="text" name="id" value="@Model.UserID"/>

            <label for="uname"><strong>Current Password </strong></label>
            <input type="text" class="form-control" id="Current Password " name="Current Password " placeholder="Current Password ">
            <label for="uname"><strong>New Password</strong></label>
            <input type="text" class="form-control" id="New Password" name="New Password" placeholder="New Password">
            <label for="uname"><strong>Confirm New Password</strong></label>
            <input type="text" class="form-control" id="Confirm New Password" name="Confirm New Password" placeholder="Confirm New Password">

        }
    </div>