
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Veterinarian List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style> 
</head>
<body>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Employee</a>
        <table id="myDatatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/Veterinarian/GetVeterinarians',
                    "type" : "get",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "Vet_Name", "autoWidth": true },
                    { "data" : "Vet_Emial", "autoWidth" : true},
                    { "data": "Vet_Tel", "autoWidth": true },
                    { "data": "Vet_Address", "autoWidth": true },
                    {
                        "data": "Vet_ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/Home/SaveVet/'+data+'">Edit</a>';
                        }
                    },
                    {
                        "data": "Vet_ID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/Home/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            })
        })
    </script>

</body>
</html>
